[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
cython = "*"
python-libpcap = "*"
pylint = "*"
requests = "*"
flake8 = "*"
pycodestyle = "*"
sklearn = "*"
pandas = "*"
python-dotenv = "*"
vaex = "*"

[dev-packages]

[requires]
python_version = "3.8"
